In [12]:
import pandas as pd
import sklearn
import numpy

In [4]:
path = "/Users/erwan/Programmes/Stage/dlexperiments/Erwan/Text_Classification/datasets/Tweeter/french_tweets.csv"

In [5]:
df = pd.read_csv(path)
df

         label                                               text
0            0  - Awww, c'est un bummer. Tu devrais avoir davi...
1            0  Est contrarié qu'il ne puisse pas mettre à jou...
2            0  J'ai plongé plusieurs fois pour la balle. A ré...
3            0  Tout mon corps a des démangeaisons et comme si...
4            0  Non, il ne se comporte pas du tout. je suis en...
...        ...                                                ...
1526719      1  Oui, cela fonctionne mieux que de l'attendre à...
1526720      1  Je viens de me réveiller. Ne pas avoir d'école...
1526721      1  Thewdb.com - très cool d'entendre les vieilles...
1526722      1  Êtes-vous prêt pour votre mojo makeover? Deman...
1526723      1  Joyeux 38ème anniversaire à mon livre de tous ...

[1526724 rows x 2 columns]

In [6]:
df['label'].value_counts()

0    771604
1    755120
Name: label, dtype: int64

In [22]:
# Noter le .astype(str) sinon numpy retourne une erreur
(df['label'].values.astype(str) == '').sum()

0

In [23]:
(df['text'].values == '').sum()

0