## IWSLT Dataset
https://pytorch.org/text/stable/datasets.html#machine-translation

In [2]:
import torch
import torchtext.datasets as datasets

import pandas as pd

from torch.utils.data import DataLoader

In [3]:
# Chemin vers les bases de données
fr_url = "/Users/erwan/Programmes/Stage/dlexperiments/Erwan/Machine_Translation/datasets/IWSLT2016/2016-01/texts/en/fr/en-fr/train.tags.en-fr.fr"
en_url = "/Users/erwan/Programmes/Stage/dlexperiments/Erwan/Machine_Translation/datasets/IWSLT2016/2016-01/texts/en/fr/en-fr/train.tags.en-fr.en"

In [4]:
english_txt = open(en_url, encoding='utf8').read().split('\n')
french_txt = open(fr_url, encoding='utf8').read().split('\n')

len(english_txt), len(french_txt)

(234993, 234993)

In [5]:
ds_len = len(english_txt)
ds_taken = int(ds_len / 100)
# On divise la base de données en 2 pour l'apprentissage / le test
# À FAIRE : Mélanger les phrases à ce moments là
raw_ds = {
    'English': [line for line in english_txt[:ds_taken]],
    'French': [line for line in french_txt[:ds_taken]]
}

In [6]:
df = pd.DataFrame(raw_ds, columns=['English', 'French'])
df.head()

,English,French
0,<url>http://www.ted.com/talks/david_gallo_on_l...,<url>http://www.ted.com/talks/david_gallo_on_l...
1,"<keywords>talks, TED Conference, animals, geol...","<keywords>talks, TED Conference, animals, geol..."
2,<speaker>David Gallo</speaker>,<speaker>David Gallo</speaker>
3,<talkid>343</talkid>,<talkid>343</talkid>
4,<title>David Gallo: Life in the deep oceans</t...,<title>David Gallo : la vie dans les océans pr...

### Normalisation des ensembles de données
Avec Pandas

In [7]:
PATTERNS = ["<url>", "<keywords>", "<speaker>", '<talkid>', '<title>', '<description>']

def normalizer(data):
    data = data.strip() # Supprime les espaces aux débuts et à la fin de chaque phrases s'il y en a
    for pattern in PATTERNS:
        data = data.rstrip(pattern)
        data = data.lstrip(pattern)
    return data

df = pd.DataFrame(raw_ds, columns=['English', 'French'])
df.applymap(normalizer)
print()

In [8]:
df.head(10)

,English,French
0,<url>http://www.ted.com/talks/david_gallo_on_l...,<url>http://www.ted.com/talks/david_gallo_on_l...
1,"<keywords>talks, TED Conference, animals, geol...","<keywords>talks, TED Conference, animals, geol..."
2,<speaker>David Gallo</speaker>,<speaker>David Gallo</speaker>
3,<talkid>343</talkid>,<talkid>343</talkid>
4,<title>David Gallo: Life in the deep oceans</t...,<title>David Gallo : la vie dans les océans pr...
5,<description>TED Talk Subtitles and Transcript...,<description>TED Talk Subtitles and Transcript...
6,David Gallo: This is Bill Lange. I'm Dave Gallo.,David Gallo: Voici Bill Lange. Je suis Dave Ga...
7,And we're going to tell you some stories from ...,Nous allons vous raconter quelques histoires d...
8,We've got some of the most incredible video of...,Nous avons des vidéos du Titanic parmi les plu...
9,The truth of the matter is that the Titanic --...,La vérité est que le Titanic -- même s'il cont...

In [9]:
df.tail(10)

,English,French
2339,"<keywords>talks, bullying, culture, feminism, ...","<keywords>talks, bullying, culture, feminism, ..."
2340,<speaker>Tony Porter</speaker>,<speaker>Tony Porter</speaker>
2341,<talkid>1031</talkid>,<talkid>1031</talkid>
2342,<title>Tony Porter: A call to men</title>,<title>Tony Porter : un appel aux hommes</title>
2343,<description>TED Talk Subtitles and Transcript...,<description>TED Talk Subtitles and Transcript...
2344,"I grew up in New York City, between Harlem and...","J'ai grandi à New York, entre Harlem et le Bronx"
2345,"Growing up as a boy, we were taught that men h...","En tant que garçon, quand je grandissais, on n..."
2346,I've later come to know that to be the collect...,"Plus tard, j'ai appris que c'était la socialis..."
2347,See this man box has in it all the ingredients...,Vous voyez cette boîte à hommes contient tous ...
2348,"Now I also want to say, without a doubt, there...","Et je veux aussi dire, sans aucun doute, il y ..."

In [10]:
from sklearn.model_selection import train_test_split

ds_train, ds_test = train_test_split(df, test_size=0.5)

In [11]:
ds_train, ds_val = train_test_split(ds_train, test_size=0.2)

In [12]:
len(ds_train), len(ds_val)

(939, 235)

In [13]:
import re

In [14]:
s = '<title>ajd<title>fae<head>bnd<title>'
res = re.sub('<head>', '', s)
res

'<title>ajd<title>faebnd<title>'

In [15]:
for pattern in PATTERNS:
    PATTERNS.append(pattern[:1] + "\\" + pattern[1:])
    print(pattern)
PATTERNS

:

: